	<table class="table">
		<thead>
			<tr>
				<th>image</th>
				<th>name</th>
				<th><colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<% datas.each do |data| %>
			<tr>
				<td><%= attachment_image_tag(data, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
				<td><%= data.name %></td>
				<td><%= link_to "Show", data, class: "user_#{data.id}" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>