<div class="col-xs-9">
    <h2><%= @model.capitalize %>s search for '<%= @content %>'</h2>
	<!--users一覧 -->
<% if @model == 'user' %>
	<%= render 'search_user', datas: @datas %>
<% elsif @model == 'book' %>
	<%= render 'search_book', datas: @datas %>
<% end %>
</div>