<span class="favorite">
    <% if user_signed_in? %>
        <% if book.favorited_by?(current_user) %>
            <p><span>お気に入り解除: </span><%= link_to book.favorites.count, book_favorites_path(book.id), method: :delete %></p>
        <% else %>
            <p><span>お気に入り登録: </span><%= link_to book.favorites.count, book_favorites_path(book.id), method: :post %></p>
        <% end %>
    <% end %>
</span>